
footer {
    padding: 3rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #393939;
}
footer > main {
    display: flex;
    justify-content: center;
    gap: 19rem;
}
.footer-cauan {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 1rem;
    font-weight: 500;
} 
.footer-cauan > p {
    color: rgb(224, 224, 224);
}
.footer-cauan > img {
    width: 2rem;
transform: rotateY(180deg);
display: block;
margin-block-start: -1.2rem;
margin-inline-end: -0.3rem;
margin-left: 1rem;
margin-bottom: 1.7rem;
}
.footer-right > a > img {
    width: 16rem;
    border-radius: 4px;
}
.footer-icons-wrapper {
    display: flex;
    gap: 0.8rem;
    margin-top: 2rem;
    color: rgb(224, 224, 224);;
}
.footer-icons-wrapper > a {
    display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
width: 36px;
height: 36px;
min-height: 36px;
min-width: 36px;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
border-style: solid;
border-width: 1px;
border-color: #fff;
color: #fff;
background-color: transparent;
-webkit-transition: border-color 300ms ease, background-color 300ms ease, color 300ms ease, -webkit-transform 300ms ease;
transition: border-color 300ms ease, background-color 300ms ease, color 300ms ease, -webkit-transform 300ms ease;
transition: border-color 300ms ease, transform 300ms ease, background-color 300ms ease, color 300ms ease;
transition: border-color 300ms ease, transform 300ms ease, background-color 300ms ease, color 300ms ease, -webkit-transform 300ms ease;

text-decoration: none;
cursor: pointer;
}
.footer-icons-wrapper > a:hover {
    border-color: #96122a;
background-color: #96122a;
-webkit-transform: translate(0px, -3px);
-ms-transform: translate(0px, -3px);
transform: translate(0px, -3px);
color: #fff;

}
.footer-middle {
    display: flex;
    flex-direction: column;
     text-align: center;
     color: rgb(224, 224, 224);;
}
.footer-middle > h1 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  
}
.footer-middle > a {
    color: rgb(224, 224, 224);
    transition: 0.1s;
    cursor: pointer;
}
.footer-middle > a:hover {
    color: #96122a;
}
.leo-tag {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}
@media (max-width: 880px) {
    .footer-icons-wrapper {
        justify-content: center;
    }
    
    .footer-left > p {
        text-align: center;
    }
 footer {
        flex-direction: column;
        gap: 2rem;
    } 
}