
.navbar {
    height: 90px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 3.7rem;
    position: fixed;
    width: 100%;
  transition: 0.2s;
    color: rgb(224, 224, 224);
    border-bottom: 1px solid #393939;
    z-index: 10; 
}
.responsive-div {
    width: 100%;
 
    display: flex;
    justify-content: space-between;
}
.activated {
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 3.7rem;
    position: fixed;
    color: rgb(224, 224, 224);
    width: 100%;
    transition: 0.2s;
   
    z-index: 10;
    background-color: rgb(26, 26, 26);
}
.original-size-ul > li > a {
    color: rgb(224, 224, 224);
    text-decoration: none;
}
.original-size-ul li a.active { /*VERY IMPORTANT*/
    color: #96122a;
  }
  
.logo-wrapper {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 1rem;
  font-weight: 500;
}
.logo-wrapper > img {
width: 2rem;

}


.original-size-ul {
    display: flex;
    list-style: none;
    gap: 1rem;
font-size: 1.1rem;
  
    justify-content: flex-end;
    align-items: center;

}

.original-size-ul >li > a {
    cursor: pointer;
    transition: 0.2s;
    font-weight: 500;
 
}

.bagé {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    
}

.familia:hover {
    background-color: #473a3a;
-webkit-transform: translate3d(0px, -3px, 0.01px);
transform: translate3d(0px, -3px, 0.01px);
color: #121213;
}
.familia {
    padding: 1rem;
    border-radius: 2px;
    cursor: pointer;
border-style: solid;
border-width: 1px;
border-color: #f0f0f0;
background-color: transparent;
box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
-webkit-transition: background-color 300ms ease, color 300ms ease, -webkit-transform 300ms ease;
transition: background-color 300ms ease, color 300ms ease, -webkit-transform 300ms ease;
transition: transform 300ms ease, background-color 300ms ease, color 300ms ease;
transition: transform 300ms ease, background-color 300ms ease, color 300ms ease, -webkit-transform 300ms ease;
font-family: 'General Sans', sans-serif;
color: rgb(224, 224, 224);
line-height: 1.111em;
font-weight: 500;
text-align: center;
text-transform: none;
-webkit-transform-style: preserve-3d;
transform-style: preserve-3d;
}
.nav-contact-btn > a {
   height: 100%;
   width: 100%;
   display: inline-block; /*important*/
   display: flex;
   justify-content: center;
   align-items: center;
}
.nav-contact-btn {
    width: 8rem;
    height: 3.5rem;
    cursor: pointer;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
border: 1px solid transparent;
border-radius: 2px;
background-color: #96122a;
-webkit-transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
transition: box-shadow 300ms ease, transform 300ms ease;
transition: box-shadow 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
font-family: 'General Sans', sans-serif;
color: rgb(224, 224, 224);
line-height: 1.111em;
font-weight: 700;
text-align: center;
text-decoration: none;
text-transform: none;
-webkit-transform-style: preserve-3d;
transform-style: preserve-3d;
}

.nav-contact-btn:hover {
    box-shadow: 0 10px 20px 0 rgba(248, 19, 60, 0.2);
-webkit-transform: translate3d(0px, -3px, 0.01px);
transform: translate3d(0px, -3px, 0.01px);
color: rgb(224, 224, 224);

}

.activated-btn {
    height: 2rem;
    font-size: 1.2rem;
    font-size: 1rem;
    width: 7rem;
    color: #50A060;
    background: transparent;
    border: 1px solid #50A060;
    border-radius: 4px;
    transition: 0.2s;
    font-size: 1.2rem;
    border-radius: 3px;
    cursor: pointer;
}

.activated-btn:hover {
    background-color: #96122a;
    color: white;
    transform: scale(1.2);
}

.nav-btn {
    cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
    position: absolute;
	color: rgb(224, 224, 224);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem
}
.nav-close-btn {
    display: none;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .navbar .responsive_nav, .activated .responsive_nav {
		transform: none;
		width: 100%;
        border-bottom: 1px solid #393939;
	}
    .bagé {
   margin-bottom: 2rem;
   
    
}
    .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
        color: rgb(207, 207, 207);
        background: transparent;
      
	border: none;
	outline: none;
    display: flex;
    font-size: 1.5rem;
	}
    .logo-wrapper {
        gap:0.5rem
     }
     .nav-btn {
right: 1rem;
top: 1rem;
     }
    .activated .nav-btn {
		visibility: visible;
        position: absolute;
        top: 2.5rem;
        right: 2rem;
		opacity: 1;
		padding-right: 0.8rem;
        color: rgb(224, 224, 224);
	}
   .navbar .nav-btn {
    visibility: visible;
    top: 2.5rem;
        right: 2rem;
		opacity: 1;
		padding-right: 0.8rem;
        color: rgb(224, 224, 224);
   }
  
    .responsive-div {
		position: fixed;
		top: 0;
		left: 0;
		height: 60%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		gap: 2rem;
        text-align: center;
		padding-top: 5rem;
		transition: 0.8s;
		transform: translateY(-200vh); 
        color: rgb(224, 224, 224);
        border-bottom: 1px solid #393939;
		/* IMPORTANTE */
        background-color: #121213;
        z-index: 50;
		
	/* aqui que a magica acontece, esse é mt importante */
        
	}
    .original-size-ul > li {
        font-size: 1.5rem;
        padding: 0.5rem 0 0.5rem 0;
        border-bottom: 1px solid #DBEEFD;
        width: 60%;
        transition: 0.2s;
    }
    .original-size-ul > li:hover {
        border-bottom: 1px solid #f8133c;
       
    }
}

.navbar a.active {
    color: #96122a;
  }