.form-section-parent {
    display: flex;
    flex-direction: column;
}
.form-header {
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 10rem;

}
.form-header > h1 {
    font-family: Barlow, sans-serif;
color: #fff;
font-size: 3rem;
line-height: 1.244em;
font-weight: 900;
text-transform: uppercase;
margin-bottom: 0.5rem;




}
.form-header > p {
width: 700px;
margin-bottom: 1.5rem;
font-size: 1.2rem;
font-weight: 500;
text-align: left;

}
.row-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    gap: 1.5rem;
    margin-top: 1rem;

}

.row-wrapper > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
}
.row-wrapper > div > p {
    max-width: 37rem;
    font-size: 0.95rem;
    line-height: 1.5rem;
}
.row-wrapper > div > span{
    font-size: 2rem;
    border-radius: 100%;
   
    color: #f8133c;
  
}

.form-section {
    position: relative;
    display: flex;
    flex-direction: column;
    color: rgb(218, 218, 218);
    align-items: start;
    padding: 35rem 0rem 27rem 0rem;
    margin-top: 5rem 0 5rem 0;
}
.cauan-img {
    position: absolute;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../../assets/images/contato.jpg');
width:100%;
height: 100%;
background-position: 0px 0px, 100% 50%;
background-size: auto, auto 100vh;
background-attachment: scroll, fixed;
top: 0;
right: 0;
}



form {
    position: absolute;
    left: 4rem;
    bottom:4rem;
display: flex;
flex-direction: column;
gap: 1rem;
align-items: center;
background-color: rgb(20, 20, 20);
border: 1px solid #393939;
width: 40rem;
padding: 2rem 2rem 2rem 2rem;
border-radius: 5px;
}

form > header {
    font-size: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
form > header > h1 {
    font-family: Barlow, sans-serif;
    line-height: 1.85rem;
    font-weight: 600;
}
form > header > img {
   width: 15rem;
}
.flex-div {
    display: flex;
    width: 100%;
    gap: 1rem;
}
label {
    margin-bottom: 0.5rem;
    font-weight: 500;
}
.error-message {
    font-size: 0.8rem;
    color: red;
}
.form-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    
    
}

.success {
    color: green;
    font-size: 1rem;
  }
.form-input {
background-color: rgba(212, 212, 212, 0.3);
border: none;
border-radius: 3px;
padding: 0.5rem;
font-weight: 300;
color: rgb(255, 255, 255);
outline: none;
margin-bottom: 0.5rem;

}
#checkbox-wrapper {
    align-items: start;
}
.input-error {
    background-color: rgba(212, 212, 212, 0.3);

border: red 1px solid;
border-radius: 3px;
padding: 0.5rem;
color: rgb(255, 255, 255);

margin-bottom: 0.5rem;
}
textarea {
    background-color: rgba(212, 212, 212, 0.3);
    outline: none;
    border: none;
    height: 6rem;
    padding: 0.5rem;
    border-radius: 3px;
    margin-bottom: 0.5rem;
}
.form-button {
    padding: 1rem;
    cursor: pointer;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: #f8133c;
    transition: box-shadow 300ms ease, transform 300ms ease;
    font-family: 'General Sans', sans-serif;
    color: #fff;
    line-height: 1.111em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transform-style: preserve-3d;
    width: 100%;

}

.form-button:hover {
    box-shadow: 0 10px 20px 0 rgba(248, 19, 60, 0.2);
    transform: translate3d(0px, -3px, 0.01px);
    color: #fff;
}

#swal2-title, #swal2-html-container {
  
}
.swal2-styled {
    background-color: #bc9864;
  
}
@media (max-width: 950px) {
    .form-header {
        padding-top: 5rem;
        padding-bottom: 5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0rem;
    
}
}
@media (max-width: 868px) {
    .form-header > h1 {
        margin-bottom: 0.5rem;
         font-size: 1.9rem;
         text-align: center;
         color: #fff;
         
         line-height: 1.196em;
         font-weight: 900;
         text-transform: uppercase;
     }
    
    .form-header > p {
   font-size: 1.1rem;
   font-weight: 400;
    
    }
    .form-section {
        height: 80rem;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        left: 1.5rem;
    bottom:1.5rem;
        align-items: center;
        width: 35rem;
        border-radius: 15px;
        }
        form > header > h1 {
            font-family: Barlow, sans-serif;
            line-height: 1.85rem;
            font-weight: 600;
        }
    .flex-div {
        flex-direction: column;
    }
    .cauan-img {
        position: absolute;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../../assets/images/contato.jpg');
    width:100%;
    height: 80rem;
    background-position: 0px 0px, 100% 50%;
    background-size: auto, auto 100vh;
    background-attachment: scroll, fixed;
    top: 0;
    right: 0;
    }
}
@media (max-width: 650px) {
    .form-section {
        display: flex;
        flex-direction: column;
        color: white;
      
        padding: 2rem 0rem 0rem 0rem;
      align-items: center;
    }
    .form-header {
        margin-right: 1rem;
        margin-left: 1rem;
        padding-top: 10rem;
        padding-bottom: 10rem;
       
    }
    .form-header > p {
        width: 100%;
    }
    form {
        width: 100%;
        bottom: 7rem;
        left: 0;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .form-section {
        height: 90rem;
    }
    .cauan-img {
        height: 90rem;
    }
    form > header > img {
        width: 10rem;
     }
    }













