.instagram-section {
    padding: 0rem 0rem 7rem 0;
    margin-top: 7rem;
    display: flex;
    gap: 1rem;
    border-top: 1px solid #393939;
    border-bottom: 1px solid #393939;
}

.instagram-left {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 8rem 0 0 10rem;
}

.instagram-left>h1 {
    font-family: Barlow, sans-serif;
    color: #fff;
    font-size: 56px;
    line-height: 1.196em;
    font-weight: 900;
    text-transform: uppercase;
}

.instagram-left>p {
    width: 25rem;
    margin-bottom: 2rem
}


.instagram-left>a {
    padding: 1.5rem 2rem 1.5rem 2rem;
    width: 15rem;
    cursor: pointer;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: #f8133c;
    -webkit-transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
    transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
    transition: box-shadow 300ms ease, transform 300ms ease;
    transition: box-shadow 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
    font-family: 'General Sans', sans-serif;
    color: #fff;
    line-height: 1.111em;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.instagram-left>a:hover {
    box-shadow: 0 10px 20px 0 rgba(248, 19, 60, 0.2);
    -webkit-transform: translate3d(0px, -3px, 0.01px);
    transform: translate3d(0px, -3px, 0.01px);
    color: #fff;

}

.instagram-right {
    background-image: linear-gradient(90deg, #121213 2%, transparent 70%), url("../../../assets/images/insta-img.jpg");
    width: 100%;
    margin-bottom: -7rem;
    background-position: 0px 0px, 100% 50%;
    background-size: auto, auto 100vh;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;

}

@media screen and (max-width: 1200px) {
    .instagram-left {

        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 8rem 0 0 5rem;
        
    }
    .instagram-left>a {
       
        width: 20rem;

    }
}

@media screen and (min-width: 1700px) {

    .instagram-right {
        background-image: linear-gradient(90deg, #121213 20%, transparent 80%), url("../../../assets/images/insta-img.jpg");
        width: 100%;
    }
}

@media screen and (max-width: 820px) {
    .instagram-right {
        height: 32rem;
        background-position: 0px 0px, 100% 50%;
        background-size: auto, auto 100vh;
        background-repeat: repeat, no-repeat;
        background-attachment: scrol;
        background-image: url("../../../assets/images/insta-img.jpg");
    }


    .instagram-section {
        flex-direction: column;
        border-top: none;
    }

    .instagram-left {

        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 4rem 0 0 0rem;
        margin-right: 1rem;
        margin-left: 1rem;
        align-items: center;
    }

    .instagram-left>h1 {
        font-family: Barlow, sans-serif;
        font-size: 2rem;
        text-align: center;
        

    }

    .instagram-left>p {
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
       width: 20rem;

    }

    
}