.portfolio-section {
    padding: 20rem 0 20rem 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.portfolio-section > header {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.portfolio-section > header > h1 {
    font-family: Barlow, sans-serif;
    color: #fff;
    font-size: 82px;
    line-height: 1.244em;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 1rem;
    
}
.portfolio-section > header > p {
    width: 30rem;
}
.buttons-wrapper-portfolio {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.buttons-wrapper-portfolio button.selected {
  border-color: #f8133c;
  transition: 0.3s;
}
.buttons-wrapper-portfolio button:hover{

  color: #f8133c;
  border-color: #f8133c;
}
.buttons-wrapper-portfolio > button {
  display: inline-block;
  transition: 0.3s;
  padding: 18px 28px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-color: #dedede;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.111em;
  text-align: center;
  text-decoration: none;
}

.photos-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.common-thumbnail {
    position: relative;
    width: 300px;
    height: 250px;
    margin: 10px;
    transition: 0.1s;
    border-radius: 5px; /*IMPORTANT*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
    
  }
  .blurhash {
    z-index: 20;
    position: absolute !important;
    top: 0;
    left: 0;
  }
  .thumbnail-img {
      width: 100%;
      object-fit: contain;
    
      height: 100%;
      display: block;
      border-radius: 5px;
     
     
  }
  
  
  .common-thumbnail > .thumbnail-img,
  .common-thumbnail > .content {
    transition: 200ms ease-in-out;
    border-radius: 5px;
  }
  
  
  .common-thumbnail:hover > img.blur {
      filter: blur(5px);
    }
    
    .common-thumbnail:hover > img.gray {
      filter: grayscale(1);
    }
    
    .common-thumbnail:hover > img.zoom {
      transform: scale(1.1);
    }
    
    .common-thumbnail > .content.fade {
      opacity: 0;
    }
    .common-thumbnail:hover > .content.fade {
      opacity: 1;
    }
    
    .common-thumbnail:hover {
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
    
  
    .common-thumbnail .thumbnail-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
      border-radius: 4px;
    }
    
    .content {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      font-family: 'Lato', sans-serif;
      
      background-color: rgba(75, 27, 27, 0.7);
      color: #fff;
      font-size: 30px;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s ease;
      gap: 0.5rem;
    }
    .content > span {
      background-color: rgba(216, 30, 30, 0.3);
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 100%;
    }
    .fade:hover .content {
      opacity: 1;
    }
    
    .image-viewer {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 99;
    }
    
    .image-viewer img {
      width: 100%;
      height: 80%;
      object-fit: contain;
      position: absolute;
      top: 2rem;
      border-radius: 13px;
      
    }
    
    .image-viewer button {
      position: absolute;
      font-family: 'General Sans', sans-serif;
      top: 20px;
      right: 20px;
      padding: 1rem;
  
    cursor: pointer;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    font-weight: 500;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: #f8133c;
    -webkit-transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
    transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
    transition: box-shadow 300ms ease, transform 300ms ease;
    transition: box-shadow 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
    color: #fff;
    line-height: 1.111em;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
      transition: 0.3s;
    }
    .image-viewer button:hover {
      
      box-shadow: 0 10px 20px 0 rgba(248, 19, 60, 0.2);
    -webkit-transform: translate3d(0px, -3px, 0.01px);
    transform: translate3d(0px, -3px, 0.01px);
    color: #fff;
      
    }
    
  
    @media (max-width: 768px) {
      .common-section {
        padding: 9rem 2rem 10rem 2rem;
      }

      .portfolio-section > header > h1 {
        font-family: Barlow, sans-serif;
        color: #fff;
        font-size: 2.2rem;
        line-height: 1.244em;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 1rem;
        
    }
    
      .common-section > header > h1 {
        font-size: 45px;
        line-height: 1.2em;
        border: none;
      }
    
      .common-section > header > p {
        font-size: 16px;
        max-width: 100%;
       
      }
      .buttons-wrapper-portfolio {
        display: flex;
        gap: 1.2rem;
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 3rem;
        width: 70%;
    }
    .buttons-wrapper-portfolio > button {
      width: 100%;
    }
    
      .common-thumbnail {
        
        height: 16rem;
        width: 400px;
        min-width: 250px;
      }
    
      .common-thumbnail > img {
        height: 100%;
      }
    }
    
    @media (max-width: 480px) {
      
      .common-section {
        padding: 9rem 1rem 10rem 1rem;
        align-items: center;
        justify-content: center;
      }
    
      .-section > header > h1 {
        font-size: 35px;
        line-height: 1.1em;
        border: none;
      }
    
      .portfolio-section > header > p {
      width: 90%;
       
      }
    
      .common-thumbnail {
        width: 280px;
        height: 12rem;
      }
      .buttons-wrapper-portfolio {
       
        width: 90%;
    }
      
    }
    
  
    